/*
.map-info-window{
   background:#333;
   border-radius:4px;
   box-shadow:8px 8px 16px #222;
   color:#fff;
   //max-width:200px;
   //max-height:300px;
   text-align:center;
   padding:5px 20px 10px;
   overflow:hidden;
   position:absolute;
   text-transform:uppercase;
}
.map-info-window h5{
   font-weight:bold;
}
.map-info-window p{
   color:#939393;
}

.rating {
    float:left;
}
*/
/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
	margin-top:-20px;
}

.rating > input:checked ~ label {
    color: #A1D700;
    text-shadow:1px 1px #759b4f, 2px 2px #516a38, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.bubblewrap {
	min-width: 270px;
	max-width: 300px;
	min-height: 190px;
	max-height: 500px;
}